.app {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;

    header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .grid {
        display: flex;
        justify-content: center;

        .layout {
            width: 600px;

            .grid-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f0f0f0;
                border: 1px solid #ccc;
                font-size: 16px;
                text-align: center;
                cursor: grab;
            }

            .grid-item:active {
                cursor: grabbing;
            }
        }
    }


}

